@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>webimblaze-check</h1>
    <p class="lead">webimblaze-check is a web site to aid in the self test of WebImblaze.</p>
    <p class="lead">There are also a number of features for demonstrating how to create various automated tests.</p>
    <p><a href="https://github.com/Qarj/webimblaze-check" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            WebImblaze is a powerful free automated test tool.
        </p>
        <p><a class="btn btn-default" href="https://github.com/Qarj/WebImblaze">WebImblaze project on GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Blog on testing with WebImblaze</h2>
        <p>blogspot.co.uk</p>
        <p><a class="btn btn-default" href="http://webinject.blogspot.co.uk/">WebImblaze Blog &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Example Results</h2>
        <p>Click to see an example of how WebImblaze reports automated test results.</p>
        <p><a class="btn btn-default" href="http://qarj.github.io/WebImblaze-Example/">WebImblaze example results output &raquo;</a></p>
    </div>
</div>
