@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>webinject-check</h1>
    <p class="lead">webinject-check is a web site to aid in the self test of webinject.</p>
    <p class="lead">There are also a number of features for demonstrating how to create various automated tests.</p>
    <p><a href="https://github.com/Qarj/webinject-check" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            WebInject is a powerful free automated test tool.
        </p>
        <p><a class="btn btn-default" href="https://github.com/Qarj/WebInject">WebInject project on GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Blog on testing with WebInject</h2>
        <p>blogspot.co.uk</p>
        <p><a class="btn btn-default" href="http://timbuckland.blogspot.co.uk/2017/03/testing-over-http-with-webinject.html">Blog &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Example Results</h2>
        <p>Click to see an example of how WebInject reports automated test results.</p>
        <p><a class="btn btn-default" href="http://qarj.github.io/WebInject-Example/">WebInject example results output &raquo;</a></p>
    </div>
</div>
