
@{
    ViewBag.Title = "Special";
}

<link href="~/Content/special.css" rel="stylesheet" />

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />

<a href="/Search/SearchForm">Search the recipes</a>

<br />
<br />

<a href="/BulkUpload/Index">Upload csv file containing searches</a>

<br />
<br />

<a href="/api/API">See all the searches in XML</a>

<br />
<br />

<a href="/api/API/3">See one search in XML</a>

