
@{
    ViewBag.Title = "Special";
}

<link href="~/css/special.css" rel="stylesheet" />

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />

<a href="/Search/SearchForm">Search the recipes</a>

<br />
<br />

<a href="/BulkUpload/Index">Upload csv file containing searches</a>

<br />
<br />

<a href="/API/GetAllSearches">See all the searches via API</a>

<br />
<br />

<a href="/API/GetSearch/2">See one search via API</a>

<br />
<br />

<a href="/API">See API info</a>
