
@{
    ViewBag.Title = "Search Confirmation";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <p>Believe it or not, you just submitted a search. Well done.</p>
</div>
<div>
    <a href="/Search/SearchForm" id="searchForm">Run a new search</a>
</div>